@keyframes saturate-on-load{
    0% {
        filter: saturate(0);
    }
    100% {
        filter: saturate(1);
    }
}

@keyframes wobble {
    0% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(-4px);
    }
}


/* A small animation that saturates the color back in to the image */

.saturate{
    filter: saturate(0);
    animation: saturate-on-load 0.33s ease-in 1 forwards;
}
