@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf');
}


@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf');
}