@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    

}

.header{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #b83831;
}

.nav{
    list-style: none;

}


.nav_container{
    width: 100%;
    height: 44px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;


}

.hero__logo {
    display: block;

    
    margin-left: -0.06em;
    text-align: left;
    font-family: 'JosefinSans-Bold', sans-serif;
    font-size: 11em;
    color: #ffffff;
    
    line-height: 0.85em;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;

    text-shadow: 8px 8px 0px #b83831;
}

.hero__brand{
    font-family: 'JosefinSans-Bold', sans-serif;
    font-size: 2.18em;
    color: #ffffff;
    margin-left: 0.1em;
    text-transform: uppercase;
    text-shadow: -4px 4px 0px #b83831;

}

.hero__intro{
    font-family: 'JosefinSans', sans-serif;
    padding-left: 120px;
    font-size: 1.1em;
    color: #ffffff;
    text-align: left;
}

.hero__intro__heading{
    font-family: 'JosefinSans-Bold', sans-serif;
    font-size: 2em;
}


.hero__opening{
    padding-top: 35px;
    font-family: 'Mulish', sans-serif;
}


.section__inner{
    display: flex;
    padding: 128px 128px 128px 128px;
}


.section__heading{
    padding: 64px 16px;
    font-size: 2.4em;
    background: black;
    font-family: 'JosefinSans-Bold', sans-serif;
    color:  #ffffff;
}



.nav_bar{
    width: 100%;
    height: 44px;
    display: inline-block;
    text-align: center;  
    
    background-color: black;
    list-style: none;
}

.nav_button{
    font-family: 'JosefinSans-Bold', sans-serif;
    display: inline-block;
    color: white;
    font-size: 1.5em;
    padding: 12px 24px;
}

.nav_button > a{
    text-decoration: none;
    color: white;
}

.section{
    display: block;
    height: 650px;
    background-color: #ff3f34;
}

.portfolio{
    background-color: black;
    height: auto;
    padding: 32px 32px 124px 124px;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px 36px;
}

.project-card, .project-card__img{
    width: 100%;

}

.project-card__img{
    width: 102%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
    transition: transform 0.1s ease-out;
}

.project-card__img:hover{
    transform: scale(1.1);
}

.project-card{
    height: 610px;
    background-color: white;
    border-bottom: 4px solid black;
    display: grid;
    grid-template-rows: 210px auto;
    box-shadow: 0 3px 0 0 #ffffff;
    overflow: hidden;
}

.project-card__text{
    padding: 24px;
    background-color: white;
    z-index: 10;
}

.project-card__text__title{
    font-family: 'JosefinSans-Bold', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    
}

.project-card__text__description{
    font-family: 'Mulish', sans-serif;
    margin-top: 16px;
    margin-bottom: 32px;
}


.content {
    width: 100%;
}

.contact{
    height: auto;
    font-family: 'Mulish', sans-serif;
    color: white;
}

.contact-heading{
    padding: 64px 124px;
    font-size: 2.4em;
    background:  #ff3f34;
    font-family: 'JosefinSans-Bold', sans-serif;
    color: #ffffff;
}




.form-container{
    height: 450px;
    width: 100%;
    text-align: center;
}

.form-group{
    font-size: 2em;
    font-family: 'JosefinSans-Bold', sans-serif;
    padding-top: 54px;
}

.input
.textarea{
    width: 100%;
    height: 72px;
}

.email-container{
    width: 100%;
    text-align: center;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}

.sub-button{
    margin-top: 32px;
}

.span{
    font-family: 'Mulish', sans-serif;
    font-size: 4em;
    padding: 0 400px;
    text-align: center;

}


.my-email{
    font-family: 'Mulish', sans-serif;
    font-size: 2.5em;
    display: block;
    padding: 20px 63px;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: black;
}




